<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hello, my name is Jack Xu</h1>
		<p>This is a simple blog built using Ruby on Rails.</p>
		<p>I am currently following several tutorials on Ember.js and Rails in order to become a full stack developer.</p>
	</div>
</div>